.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.notes {
  font-size: 0.9em;
}

.error {
  color: #f00;
  font-weight: 600;
  margin-top: 3em;
  margin-bottom: 2em;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .App > p, .notes {
    font-size: 0.65em;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
