.card {
    width: 15%;
    float: left;
    position: relative;

    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;

    padding: 0.6em 1em 1em 1em;
    margin: 10px 1%;

    text-align: center;
}

.card-label {
    margin-bottom: 8px;
}

.card p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .card {
        width: 24%;
    }
    .card-label {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

.card .favourite-marker {
    font-size: 10pt;
    position: absolute;
    right: 4px;
    top: 4px;
    color: #3a9af5;
    cursor: pointer;
}

.card .favourite-marker a {
    color: #3a9af5;
    text-decoration: none;
}

.card.favourite {
    background-color: rgb(253, 255, 227);
    background-color: aliceblue;
}
