.card {
    width: 15%;
    float: left;

    background-color: #fafafa;
    border: 1px solid #d0d0d0;

    padding: 0.6em 1em 1em 1em;
    margin: 10px 1%;

    text-align: center;
}

.card-label {
    margin-bottom: 8px;
}

.card p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .card {
        width: 24%;
    }
    .card-label {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
